<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>

<script type="module" src="/src/assets/js/util.js"></script>
<script type="module" src="/src/assets/js/main.js"></script>